[build-system]
requires = ["setuptools", "wheel"]

[tool.black]
line-length = 88

[tool.isort]
profile = "black"
combine_as_imports = true

[tool.pytest.ini_options]
# pytest looks for configuration from pyproject.toml
# only from version 6.0
minversion = "6.0"
addopts = "--doctest-modules"

[tool.coverage.run]
branch = true
omit = [
  "setup.py",
  "idefix_cli/__main__.py",
]

[tool.mypy]
python_version = 3.8
show_error_codes = true
ignore_missing_imports = true
warn_unused_configs = true
warn_unused_ignores = true
warn_unreachable = true
show_error_context = true
