mkdocs==1.5.2
mkdocs-material==9.1.21
mkdocs-include-markdown-plugin==5.0.0
mkdocstrings[python]==0.22.0

# workaround for readthedocs + src layout
# point to the "current dir":
# assuming this is installed from the top level of the repo
# as `pip install -r docs/requirements.txt`
.
