mkdocs==1.4.3
mkdocs-material==9.1.18
mkdocs-include-markdown-plugin==4.0.4
mkdocstrings[python]==0.22.0

# workaround for readthedocs + src layout
# point to the "current dir":
# assuming this is installed from the top level of the repo
# as `pip install -r docs/requirements.txt`
.
