name: CI
on:
  push:
    branches:
    - main
  pull_request:
    paths-ignore:
    - .pre-commit-config.yaml
  workflow_dispatch:

jobs:
  tests:
    name: Python ${{ matrix.python-version }} on ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        python-version:
        - '3.11'
        - '3.12'
        - '3.13'
        - '3.14'
        include:
        - os: macos-latest
          python-version: '3.11'
        - os: macos-latest
          python-version: '3.14'
        - os: windows-latest
          python-version: '3.11'
        - os: windows-latest
          python-version: '3.14'

    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
    - uses: astral-sh/setup-uv@85856786d1ce8acfbcc2f13a5f3fbd6b938f9f41 # v7.1.2
      with:
        python-version: ${{ matrix.python-version }}
    - run: uv sync --frozen --no-editable --group test
    - name: Run tests
      run: uv run --no-sync pytest --color=yes

  future:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version:
        - '3.15'
        - 3.15t

    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
    - uses: astral-sh/setup-uv@85856786d1ce8acfbcc2f13a5f3fbd6b938f9f41 # v7.1.2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Configure uv
      run: |
        echo "UV_PRERELEASE=allow" >> $GITHUB_ENV
    - run: uv lock --upgrade
    - run: uv sync --frozen --no-editable --group test
    - name: Run tests
      run: uv run --no-sync pytest --color=yes

  tests_minimal_env:
    name: Test minimal requirements
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
    - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
      with:
        python-version: 3.11.0
    - uses: astral-sh/setup-uv@85856786d1ce8acfbcc2f13a5f3fbd6b938f9f41 # v7.1.2
    - run: |
        echo "UV_PYTHON_PREFERENCE=only-system" >> "$GITHUB_ENV"
    - name: Run tests
      run: uv run --resolution=lowest-direct --no-editable --group test pytest --color=yes

  type-check:
    strategy:
      matrix:
        python-version:
        - '3.11'
        - '3.13'
        typechecker:
        - mypy
        - pyright

    runs-on: ubuntu-latest
    name: type check

    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}-${{ matrix.python-version }}-${{ matrix.typechecker }}-typecheck
      cancel-in-progress: true

    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
    - uses: astral-sh/setup-uv@85856786d1ce8acfbcc2f13a5f3fbd6b938f9f41 # v7.1.2
    - name: Build
      run: uv sync -p ${{ matrix.python-version }} --group typecheck --no-editable
    - name: Typecheck
      run: uv run --no-sync ${{ matrix.typechecker }} src

  docs:
    runs-on: ubuntu-latest
    name: docs

    concurrency:
      group: ${{ github.ref }}-docs
      cancel-in-progress: true

    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
    - uses: astral-sh/setup-uv@85856786d1ce8acfbcc2f13a5f3fbd6b938f9f41 # v7.1.2
    - name: Setup env
      run: uv sync --frozen --group docs
    - name: Build
      run: uv run --no-sync mkdocs build
    - name: Upload artifacts
      uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
      with:
        name: site
        path: site
